:root {
  --color-black: #000;
  --color-white: #fff;
  --color-primary: #6880ff;
  --color-hover: #7c91ff;
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Poppins", sans-serif;
}

body {
  background-color: var(--color-black);
}

.container {
  max-width: 56rem;
  margin-inline: auto;

  align-items: center;

  display: flex;
  flex-direction: column;

  gap: 6.25rem;
}