.title1 {
    color: var(--color-white);
    font-family: var(--font-primary);
    font-size: 3rem;
    font-weight: 800;
  }
  
  .title2 {
    color: var(--color-white);
    font-family: var(--font-primary);
    font-size: 2.5rem;
    font-weight: 800;
  }
  
  .title3 {
    color: var(--color-white);
    font-family: var(--font-primary);
    font-size: 1.375rem;
    font-weight: 800;
  }

  .link {
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.875rem;
  }

  .paragraph1 {
    color: var(--color-white, #000);
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 400;
  }
  