.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  max-width: 56rem;
  margin-inline: auto;
  margin-top: 1rem;
  margin-bottom: 6.25rem;
}

.div {
  display: flex;
  flex-direction: row;

  gap: 3.75rem;

  color: var(--color-white);
  font-family: var(--font-primary);
  font-size: 0.875rem;
  font-weight: 600;
  cursor: pointer;
}

.div > p:hover {
  color: var(--color-primary)
  
}

.header > button:hover {
  background-color: var(--color-hover);
}

