.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-block: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 1rem;
  padding-block: 2.5rem;

  max-width: 56rem;
  margin-inline: auto;
  margin-top: 6.25rem;
}
.img {
  padding-right: 0.8rem;
  padding-top: 0.8rem;
  cursor: pointer;

}